@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.none {
    display: none !important;
}

:root {
    --container-width: 1270px;
    --container-padding: 15px;
    --secondary: rgba(15, 31, 28, 0.5);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f6f6;
    color: #0f1f1c;
}

.container {
    max-width: var(--container-width); /* максимальная ширина контейнера */
    padding: 0 var(--container-padding); /* отсппуты сверху/снизу 0, справа/слева 15 */
    margin: 0 auto; /* расположение по центру */
}

.container-right {
    padding-left: calc( (100% - var(--container-width))/2 + var(--container-padding) ); /* отступ от левой границы, контейне до конца правой границы */
}
/*  */
.block {
    height: 200px;
    background-color: darkolivegreen;
}

/* Header */

.header {
    overflow: hidden;
    position: relative;
    min-height: 940px; /* для помещения других элементов */
    padding-top: 44px;
    
    background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
    color: #fff;
}

.header a {
    color: #fff;
}

.header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px;

    background-image: url(./../img/header/header-bottom.svg);
    background-size: 100%;
}

.header__top {
    margin-bottom: 86px;
}

.header__row {
    display: flex;
}

.header__content {
    position: relative;
    z-index: 1;
    max-width: 592px;
}

.header__img {
    position: relative;
    flex-grow: 1;
}

.header__img img {
    position: absolute;
    top: -180px;
    right: -150px;

    max-width: unset;
    width: 894px;
    height: 940px;
}

/* Nav */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px; /* для адаптива, чтобы элементы плотно не подходили друг к другу */
}

.nav__list {
    display: flex;
    column-gap: 80px;
    font-size: 15px;
    font-weight: 500;
}

.nav__list a {
    position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after {
    content: "";

    position: absolute;
    left: 0;
    right: 10px;
    bottom: -6px;

    display: block;
    /* width: 35px; */
    height: 4px;
    background-color: #c4c4c4;
    border-radius: 50px;
}

.nav__login {
    display: flex;
    column-gap: 25px;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
}

/* Logo */

.logo a{
    font-size: 20px;
    font-weight: 700;
}

/* Button */

.btn {
    display: inline-block;
    padding: 13px 44px;

    font-size: 15px;
    font-weight: 500;

    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #e02920 95.03%), #FFFFFF;
    border-radius: 100px;
}

.btn:hover {
    color: darkgoldenrod;
    transition: color 0.3s ease-in;
}

.btn:active {
    position: relative;
    top: 1px;
}

/* Header content */

.header__badge {
    margin-bottom: 7px;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;

    padding: 12px 30px;

    background: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
}

.header__title {
    margin-bottom: 30px;
    font-size: 55px;
    font-weight: 400;
}

.header__text {
    margin-bottom: 68px;
    font-size: 25px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
}

.header__btn {
    display: inline-block; 
    padding: 27px 48px;

    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;

    font-size: 25px;
    font-weight: 600;
}

.header__btn:hover {
    color: darkgoldenrod;
    transition: color 0.3s ease-in;
}

.header__btn:active {
    position: relative;
    top: 1px;
}